extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/search")
        input#inputUserRut(type="text", placeholder="rut", name="rut")
        br
        button#btnSubmit(type="submit") Buscar